<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://code.iconify.design/iconify-icon/1.0.3/iconify-icon.min.js"></script>
    
        <title>Sistem Pemilihan Soal Ujian</title>
        <style>
            /* Modify the background color */
         
            .navbar-custom {
                background-color: #013880;
            }
            /* Modify brand and text color */
         
            .navbar-custom .navbar-brand,
            .navbar-custom .navbar-text {
                color: whitesmoke;
            }            
        </style>
    </head>

    <nav class="navbar navbar-expand-sm navbar-custom justify-content-end">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" style="color: whitesmoke"; href="#">myITS classroom</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link" style="color: whitesmoke"; href="#">Nama Pengguna</a></li>
                <li class="nav-item">
                    <iconify-icon icon="gridicons:user-circle" style="color: #c3cfd9;" width="35" height="35"></iconify-icon>
                </li>  
            </ul>
          </div>
    </nav>


    <body style="background-color: F1F4F5;">
        <div class="container">
            <div class="row pt-3 text-xs font-bold">
                <div class="col-lg-12">
                    <p style="color: #013880;"><a href="/soal" style="color: #013880;">Draft Soal</a> / <a href="/paketsoal" style="color: #013880;">Ujian</a> / <a style="color: #013880;">Paket Soal </a> <%= paketsoal.nama %></p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-8">
                    <h4>Paket Soal</h4>           
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="mb-3 pl-4 py-2" style="background-color: white; border-width: 2px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <span class="font-bold text-xl px-4"><%= paketsoal.nama %></span>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="mb-3 pl-4 py-2" style="background-color: white; border-width: 2px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <span class="font-bold text-lg px-4">Kode Paket Soal : </span><span class="text-lg ml-4"><%= paketsoal.kode_paket %></span>
                    </div>
                </div>
            </div>
            <div class="row px-2">
                <div class="col-lg-12">

                    <% paket_soal.forEach(function(q){ %>

                    <div class="mb-2 py-3" style="background-color: white; border-width: 2px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class="row px-12">
                            <div class="col-lg-12 mb-2">
                                <span class="font-bold text-base"><%= q.pertanyaan %></span>
                            </div>
                            <div class="col-lg-12">
                                <span class="font-bold text-base">Pilihan A : </span><span class="text-base ml-4"><%= q.pilihan_a %></span>
                            </div>
                            <div class="col-lg-12">
                                <span class="font-bold text-base">Pilihan B : </span><span class="text-base ml-4"><%= q.pilihan_b %></span>
                            </div>
                            <div class="col-lg-12">
                                <span class="font-bold text-base">Pilihan C : </span><span class="text-base ml-4"><%= q.pilihan_c %></span>
                            </div>
                            <div class="col-lg-12">
                                <span class="font-bold text-base">Pilihan D : </span><span class="text-base ml-4"><%= q.pilihan_d %></span>
                            </div>
                        </div>
                    </div>

                    <% }); %>

                </div>
            </div>
        </div>
    </body>
</html>