<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://code.iconify.design/iconify-icon/1.0.3/iconify-icon.min.js"></script>
    
        <title>Database Soal | Sistem Pemilihan Soal Ujian</title>
        
        <style>
            /* Modify the background color */
         
            .navbar-custom {
                background-color: #013880;
            }
            /* Modify brand and text color */
         
            .navbar-custom .navbar-brand,
            .navbar-custom .navbar-text {
                color: whitesmoke;
            }

            .button1 {
                background-color: #013880; 
                /* border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer; */
            }
            .button2 {
                border-color: 5px #013880;
                background-color: white;
                color: #013880;
                /* padding: 14px 28px;
                font-size: 16px; */
                cursor: pointer;
            }

            /* Blue */
            .success {
            border-color: #013880;
            color: #013880;
            }

            .success:hover {
            background-color: #013880;
            color: white;
            }
            div.card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: left;
            }
                                 
        </style>
        <!-- Styles
        <style>
            html,
            body {
                background-color: #F1F4F5;
                color: #14142B;
                font-family: 'Inter', sans-serif;
            }

            .background-box {
                padding-top: 2rem;
                padding-bottom: 2rem;
                background-color: #EFF0F6;
                border-radius: 9px;
            }

            .tombol {
                background-color: #013880;
                float: right;
            }

        </style> -->
            
    </head>
    <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end"> -->
    <!-- navbar kamila -->
    <nav class="navbar navbar-expand-sm navbar-custom justify-content-end">
        <!-- <ul class="navbar-nav"> -->
            <!-- <li class="nav-item active"> -->
              <!-- <a class="nav-link" href="#">Nama Dosen Pengampu</a> -->
              <!-- <a class="nav-link" style="color: whitesmoke"; href="#">Nama Dosen Pengampu</a> -->
              <!-- <p style="color: #2c88d9;"><a href="/soal">Draft Soal</a></p> -->
            <!-- </li> -->
            <!-- <li class="nav-item">
              <iconify-icon icon="gridicons:user-circle" style="color: #c3cfd9;" width="35" height="35"></iconify-icon>
            </li>   -->
        <!-- </ul> -->
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" style="color: whitesmoke"; href="#">myITS classroom</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link" style="color: whitesmoke"; href="#">Nama Pengguna</a></li>
                <li class="nav-item">
                    <iconify-icon icon="gridicons:user-circle" style="color: #c3cfd9;" width="35" height="35"></iconify-icon>
                </li>  
            </ul>
          </div>
    </nav>
    <!-- navbar tichin -->
    <!-- <nav class="navbar navbar-expand-sm bg-white navbar-light justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Nama Dosen Pengampu</a>
          </li>
          <li class="nav-item">
            <iconify-icon icon="gridicons:user-circle" style="color: #c3cfd9;" width="35" height="35"></iconify-icon>
          </li>  
        </ul>
    </nav> -->

    <!-- <body style="background-color: f7f7fc;"> -->
    <body style="background-color: F1F4F5;"></body>
        <div class="container-fluid">
            <div class="container pt-3 text-xs font-bold">
                <p style="color: #013880;"><a href="/soal" style="color: #013880;">Database Soal</a></p>
            </div>
            <div class="container mt-3">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="/soal">Database Soal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/paketsoal">Ujian</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/topik">Materi</a>
                  </li>
                </ul>
            </div>
            <div class="row px-16">
                <div class="col-lg-4" style="margin-top: 20px;">
                    <h4>Materi</h4>           
                </div>
                <div class="col-lg-8" style="margin-top: 20px;">
                    <h4>Database Soal</h4>           
                </div>
                <div class="col-lg-4">
                    <!-- <div class="pb-4">
                        <a href="/paketsoal" class="btn button2 success btn-block">
                            <iconify-icon icon="ion:list" style="color: #013880;"></iconify-icon>
                            <p class="text-base font-bold" style="display: inline;">Paket Soal</p>
                        </a>
                    </div> -->
                    <div class="card" style="background-color: whitesmoke; border-width: 2px; height: 280px;">
                        <form method="post" action="/topik/simpan">
                            <div class="input-group">
                                <input type="text" class="form-control" name="nama_materi" placeholder="Materi Baru ...">
                                <div class="input-group-append">
                                    <button class="btn button1 btn-lg active" type="submit">
                                        <iconify-icon icon="gg:add" style="color: white;" width="24" height="24"></iconify-icon>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="h-75 overflow-auto px-2">

                            <% materi.forEach(function(b){ %>

                            <div class="input-group">
                                <div class="form-control"><strong><%= b.nama_materi %></strong></div>
                                <div class="input-group-append">
                                    <a href="/topik/delete/<%= b.id_materi %>" class="btn btn-danger">
                                        <iconify-icon icon="mdi:cancel-bold" style="color: white;" width="24" height="24"></iconify-icon>
                                    </a>
                                </div>
                            </div>

                            <% }); %>

                        </div>
                    </div>
                    <div class="pb-6"></div>
                </div>
                <div class="col-lg-8">
                    <div class="row pb-2">
                        <div class="col-sm-6">
                            <a href="/soal/tambah" class="btn button1 float-right" style="color: whitesmoke;">
                                Buat Soal Ujian
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <form method="#" action="">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Cari soal">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary bg-white" type="submit">
                                            <iconify-icon icon="gg:search" style="color: #c3cfd9;" width="20" height="20"></iconify-icon>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                    </div>

                    <% soal_ujian.forEach(function(q){ %>

                    <div class="card mb-2" style="background-color: white; border-width: 2px">
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="text-muted px-3 pt-2"><%= q.pertanyaan %></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="float-right px-3 pb-2">
                                    <span class="font-bold text-base">Soal </span><span class="ml-2"><%= q.id_soal_ujian %></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="px-3 pt-2">
                                    <% if (q.tingkat_kesulitan == 1) { %>
                                        <span class="badge badge-pill badge-success">Mudah</span>
                                    <% } else if (q.tingkat_kesulitan == 2) { %>
                                        <span class="badge badge-pill badge-warning">Sedang</span>
                                    <% } else if (q.tingkat_kesulitan == 3) { %>
                                        <span class="badge badge-pill badge-danger">Sulit</span>
                                    <% } %>
                                    <span class="badge badge-pill badge-secondary"><%= q.judul_ujian %></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="float-right px-3 pb-2">
                                    <a href="/soal/hapus/<%= q.id_soal_ujian %>" class="btn btn-outline-danger btn-sm" style="width: 90px;">
                                        Hapus <iconify-icon icon="mdi:delete" style="color: #d3455b;" width="13" height="13"></iconify-icon>
                                    </a>
                                    <a href="/soal/<%= q.id_soal_ujian %>" class="btn button2 success btn-sm" style="width: 90px;">
                                        Edit <iconify-icon icon="mdi:edit" style="color: #013880;" width="13" height="13"></iconify-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% }); %>

                </div>
            </div>
        </div>
    </body>
</html>